body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
}

h1 img {
  vertical-align: middle;
  margin-right: 10px;
  height: 40px;
    width: 40px;
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
    animation: rotation 4s infinite linear;
    
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.add-book, .controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

input, select, textarea, button {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #0a0a0a;
  border-radius: 5px;
}

.collection.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.collection.list {
  display: block;
}

.book {
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.book.read {
  border-left: 5px solid green;
}

.book.unread {
  border-left: 5px solid rgb(255, 106, 0);
}

.book h3 {
  margin: 0 0 5px;
}
